project_id       = "driven-reef-452414-b5"
region           = "asia-southeast1"
zone             = "asia-southeast1-a"
environment      = "demo"
api_image        = "asia-southeast1-docker.pkg.dev/driven-reef-452414-b5/credit-mlops/property-api@sha256:b4e4dcd3afd7171a29b808afe45fc913d9c8b4a35d8e1b273f14dd725650f0d6"
job_image        = "asia-southeast1-docker.pkg.dev/driven-reef-452414-b5/credit-mlops/property-job@sha256:d74322f93c6b0fb33176cfb3208835303a5d960e6edeaefd60cade902a2b03a1"
enable_cloud_sql = false
